:root {
    --primary-color: #000000;
    --accent-color: #09b03e;
    --background-color: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: var(--primary-color);
    gap: 10px;
}

html, body {
    height: 100%;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-content {
    padding-bottom: 60px;
}



.logo img{
    transition: width 2s, height 2s, transform 2s;
    width:50px;
    height: 50px;

}

.logo:hover {
    transform: rotate(360deg);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-out;
}

.navbar-link {
    list-style-type: none;
    display: flex;
}

.navbar-link li {
    margin: 0 15px;
}

.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.navbar-link a:hover {
    cursor: pointer;
    color: var(--accent-color);
    text-shadow: 0px 0px 8px var(--background-color);
}

.navbar-link a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0px;
    height: 2px;
    background: var(--accent-color);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-link a:hover::after {
    width: 100%;
    left: 0;
}

.navbar-link a.active {
    color: var(--accent-color);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    background: #3d6b35;
    text-align: center;
    margin-top: none;
    padding: 20px;
    width: 100%;
    z-index: 10;
}

footer a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
    color: var(--accent-color);
}
.box1-container:hover::before {
            background: rgba(61, 107, 53, 0.05);
        }

.box1-container:hover .card-title {
            color: var(--secondary-green);
        }

.box1-container:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }




