.nodes{
    fill:#228B22;
    stroke:black;
    stroke-width:2px ;
    cursor: pointer;

}
.container{
    text-align:center;
    margin-top: 50px;
    padding:50px
}
svg{
    max-width: 100%;
    height:auto;
}
text{
    font-size:14px;
    text-anchor: middle;
    fill:white;

}
path{
    fill:none;
    stroke-width:2px;
    stroke: rgb(65, 64, 64);
}
.container h2{
    color:#131413;
    margin-left: -150px;

    
}
body {
  color: var(--text-dark);
  line-height: 1.6;
  background: var(--accent-beige);
  position: relative;
  padding-bottom: var(--footer-height);
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(245, 240, 230, 0.702),
      rgba(245, 240, 230, 0.827)
    ),
    url("../images/sitemapimage.jpg") center/cover fixed;
  z-index: -1;
}