body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

body::before {
  content: "";
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  
}

.top{
    position: relative;
    padding: 100px 20px;
    color: black;
    text-align: center;
    font-size: larger;
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../Images/trees_bg.jpg");
    background-size: cover;
    background-position: bottom;
    opacity: 0.7;
    z-index: -1;
    background-blend-mode: darken;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

.section-1,
.section-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.section-2 {
    flex-direction: row-reverse;
}


.section-1 img,
.section-2 img {
    max-width: 100%;
    width: 600px;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px grey;
    
}

.text {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px grey;
}

h2 {
    color: green;
    font-size: 1.8em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
    margin-top: 15px;
}
ul {
    padding-left: 20px;
}



footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
}
.btn{
   
    display: block;
    text-align: center;
    margin: 40px auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    padding:10px;
    list-style: none;
    margin-bottom: 110px;
    font-style: none;
    
}
.btn:hover{
    background:#b2f1be;
    color:white;
}
