body {
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -200;
    color: white;
    text-align: center;
    background-image: url("../Images/Bg_4.jpg");
    background-size: cover;
    background-position: center;
}

.logo-header {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards ;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.sub-header {
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0;
}

.group {
    font-size: 1.2em;
    margin-top: 10px;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

.loader {
    margin-top: 20px;
    border: 6px solid white;
    border-top: 6px solid #2e7d32;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.logo-img {
    width: 60px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    animation: fadeIn 1.5s ease-in forwards;
    opacity: 0;
}
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
    
}