body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 30px 20px;
    border-bottom: 2px solid grey;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
}

header ul li a {
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
}


.section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-bottom: 1px solid white;
}

.section h2 {
    color: blue;
    font-size: 24px;
    margin-bottom: 10px;
}

.section h3 {
    color: blueviolet;
    font-size: 20px;
    margin-top: 20px;
}

.val-img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px grey;
}

.review {
    background-color: white;
    border-left: 4px solid rgb(68, 111, 198);
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: black;
    border-top: 1px solid grey;
}

.link {
    text-align: center;
    margin-top: 40px;
}

.link a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.link a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    
    padding: 20px;
    
}
body::before {
  content: "";
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
