body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    
    padding: 20px;
    
}
body::before {
  content: "";
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}


.top{
    position: relative;
    color: white;
    height: 10px;
    padding: 100px 20px 300px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    z-index: 1;
    overflow: hidden;
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../Images/volunteers.jpg");
    background-size: cover;
    background-position: bottom;
    opacity: 0.7;
    z-index: -1;
}



main {
    padding: 20px;
}

h1 {
    text-align: center;
}
h2 {
    color: green;
}

.card ul {
    list-style: disc;
    list-style-position: outside;
    padding-left: 20px;
    font-size: 1.05em;
    margin-bottom: 10px;
    text-align: left;
}

.card ul li {
    margin-bottom: 8px;
}

.card-content {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.card-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.bottom-row {
    margin-left: 60px;
}

.card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 10px grey;
    width: 350px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}
.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: green;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #63b767;
}

select {
    margin: 10px 0;
    padding: 6px;
}

.rating-summary {
    background: rgb(138, 192, 152);
    padding: 15px;
    margin-top: 40px;
    border-radius: 5px;
    border-left: 5px solid green;
}

.review {
    background: white;
    border-left: 5px solid green;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
}

.review a {
    color: blue;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.emoji span {
    font-size: 24px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 8px;
    border-radius: 50%;
}

.emoji span:hover {
    background-color: #d0f0d0;
    transform: scale(1.3);
}

.form-buttons {
    margin-top: 15px;
}

.form-buttons button  {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    background-color: green;
    color: white;
}

.cancel  {
    background-color: green;
    color: white;
}

.submit:hover {
    background-color: rgb(115, 173, 115);
}

.cancel:hover {
    background-color: rgb(115, 173, 115);
}

footer a {
    color: white;
    text-decoration: underline;
}